

<!--
  Consigne  1 : Utiliser la paginator de façon qu'il soit utilisable comme ceci : 
  <app-list-paginator>
    <app-list></app-list>
    <p>Ce contenu ne doit pas apparaitre</p>
  </app-list-paginator>

  Consigne 2 : les boutons doivent être en bas de la liste
  Consigne 3 : s'assurer le paginator n'affiche que la liste et pas les autres tags html
-->

<h1>Exercice content child</h1>
<h2>Liste</h2>

<app-list-filter>
<app-list-paginator>
  <app-list></app-list>
  <p>Ce contenu ne doit pas apparaitre</p>
</app-list-paginator>
</app-list-filter>



